ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: sans-serif;
}

li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  text-align: center;
  border: 4px solid rgb(195, 243, 210);
}

.check {
  background-color: rgb(60, 212, 0);
}
